language: php

php:
  - 5.6
  - 7.0
  - 7.1

sudo: false

env:
  matrix:
    - NETCOMMONS_VERSION=master DB=mysql
  global:
    - secure: "DSLI4W7coyeEeUjfmhOAw5aIiRYA5KutfEz25oYDCtpMlVn/JhLLz/38EZO+XPKr0IF0n4O8PM0nhBicX2/WUmIV6sMNe17pRQ40WaglLmtagQUtOqZYZNwp0OX7wrXtxlW/x33oj1iKaITCjq9fi+VTVVGB18yewL/nUhew/iN5TMM3lcGzYc2bqXmJxt3t3nyTlHPaE33GT2YVIVm/nx+zI+ghLO40MAEjkJx1qkj8y/0n/gsjhx9rXy01YOHiPlL0NkBYrFbG1BkEBtydxJmjyXXuef1hpBeQmrlb1M1gSDVNJSNsFcRVWM9cUikgkCAjswmidaZpaNVNPIb71qKCCplRncFz2UziY89J6UqF3uMTpLPrX3A+Re0J3AbSZHx0K9eOLkCiu0S2Z1mhahXJZByclN0RXP7fP9trys/dLG8kis0ZvoACN3vU2PkT829uzWwR3SskoPL3P4VGWAUt5Cy9p7UIFjUFlTxFqqYhIk3bQT0bhRzR02Zt/azfDXEIYadtI7drlHtN8RFvnkiu+2uSGcvQh7LTCXIoBS00gYQ7qn+HWpbp4eiD4chsNXeOOufywpg7RRc4ATJ6JVlW1o2rSX3VR7LiJonr+eTqAV0qi/C5a1J11BaUYmDkDMq/YdknIsxjCYjgkBemAfZbk8R/qMYgEENLPPgiY5s="
    - GIT_COMMITTER_NAME=akagane99
    - GIT_COMMITTER_EMAIL=akagane99@gmail.com
    - GIT_AUTHOR_NAME=akagane99
    - GIT_AUTHOR_EMAIL=akagane99@gmail.com

before_script:
  - export NETCOMMONS_BUILD_DIR=`dirname $TRAVIS_BUILD_DIR`/NetCommons3
  - git clone git://github.com/NetCommons3/NetCommons3 $NETCOMMONS_BUILD_DIR
  - cd $NETCOMMONS_BUILD_DIR
  - git checkout $NETCOMMONS_VERSION
  - . tools/build/plugins/cakephp/travis/pre.sh

script:
  - travis_wait . tools/build/plugins/cakephp/travis/main.sh

after_script:
  - . tools/build/plugins/cakephp/travis/post.sh

notifications:
  email:
    recipients:
      - netcommons3@googlegroups.com
    on_success: never  # default: change
    on_failure: always # default: always
